# see CONTRIBUTING.md for descriptions of the different environment variables
DJANGO_SETTINGS_MODULE=borrowd.config.dev.django
DJANGO_SECRET_KEY=not-a-real-secret
BORROWD_BETA_ENABLED=False
VITE_DEV_MODE=True
BASE_STATIC_URL=http://localhost:5173
