<div x-data="{ initialTrustLevel: {{ trust_level }}, selectedTrustLevel: {{ trust_level }}, isSubmittingTrustLevelUpdate: false }"
     class="flex flex-wrap items-center gap-2">
    <div class="text-sm font-normal underline underline-offset-2 decoration-dotted bg-base-content/60 bg-clip-text text-transparent">
        Your trust level:
    </div>

    <form method="post"
          action="{% url 'borrowd_groups:update-trust-level' group_id %}"
          @submit="isSubmittingTrustLevelUpdate = true"
          class="flex flex-wrap items-center gap-2">
        {% csrf_token %}
        <select name="trust_level"
                x-model="selectedTrustLevel"
                class="select select-bordered select-sm w-auto min-w-36">
            <option value="1">
                Standard
            </option>
            <option value="2">
                High
            </option>
        </select>

        <button type="button"
                onclick="showModal('trust-level-info-modal')"
                class="inline-flex align-middle cursor-pointer hover:drop-shadow-md transition"
                aria-label="Show trust level details">
            <span class="inline-flex [&>svg]:w-5 [&>svg]:h-5">
                {% include "icons/information-circle.svg" %}

            </span>
        </button>

        <button type="submit"
                x-show="String(selectedTrustLevel) !== String(initialTrustLevel)"
                :disabled="isSubmittingTrustLevelUpdate"
                class="btn btn-success btn-soft btn-sm">
            <span x-show="!isSubmittingTrustLevelUpdate">Save</span>
            <span x-show="isSubmittingTrustLevelUpdate">...</span>
        </button>
    </form>
</div>
